# Node.js
node_modules
jspm_packages/

# Logs
logs
*.log

# Runtime data
pids
*.pid

# Environment variables
.env

# Output files
dist

# VS Code settings
.vscode/

# Bower dependency directory (https://bower.io/)
bower_components
