body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 198, 198);
}

* {
    box-sizing: border-box;
}

p {
    font-size: medium;
}

label,
a {
    font-size: medium;
}

button {
    background-color: black;
    color: white;
}

h1 {
    background-color: rgb(15, 83, 95);
    color: white;
    margin: 0px;
}

.navbar>li {
    display: inline;
}

.navbar img {
    width: 20px;
    height: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

header {
    line-height: 100px;
    text-align: center;
}

footer {
    text-align: right;
    background-color: rgb(219, 215, 215);
    margin: 0;
    padding-right: 10px;
    line-height: 20px;
}

.grid-item#login {
    min-width: 500px;
}

#azure_div {
    background-color: white;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}